@media screen and (max-width:978px){
	.loglo-area{
		width:100%;
		float:none;
		text-align:center;
	}
	.login-area{
		width: 461px;
		float:none;
		margin:auto;
	}
	.login-area form{
		float:none;
	}
	.login{
	margin-top:33px;
	margin-left:0;

}
.forget{
	margin:0;}
}
@media screen and (max-width:768px){
	.email, .password, .login{
	float:none;
	margin-right:0;
	margin-top:0;
	width:100%;
   }
   .forget{
	margin: 0;
}
.login-area{
	max-width:100%;
	
}
.login-area input[type="password"],
.login-area input[type="text"]{
	width:100%;
	box-sizing:border-box;
}
.login{
	margin-top:8px;
	margin-bottom:8px;	
}
}
@media screen and (max-width: 580px){
	.container{
	width:85%;
}
}
@media screen and (max-width:768px){
	.left-area{
	width:100%;
	float:none;
}
.right-area{
	width:100%;
	float:none;
	
}
.fullname .firstname{
	float:none;
	width:100%;
	
}
.fullname .surname{
	width:100%;
	float:none;
	margin-left:0;
}
.birthday{
	width:100%;
}
.birthdate select{
	float:left;
	padding:5px;
	margin-top:5px;

}
.left-area img{
	width:100%;
	margin-left:-35px;
	
}
.birthdate{
	width:100%;
	
}
.bithlink{
	width:100%;
	clear:left;
}
.right-area h2{
	margin-top:-50px;
}
.left-area img{
	object-position:0 -25px;
}
}